.SubTitle {
    font-size: 20px;
    font-weight: bold;
    width: fit-content;
    margin: 0 auto 35px;
    position: relative;
}

.SubTitle::before {
    content: '';
    position: absolute;
    width: 70%;
    height: 2px;
    border-radius: 3px;
    background-color: black;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.SubTitle::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    bottom: -9px;
    left: 55%;
    z-index: -1;
}