.Experience {
    padding: 120px 0 0;
    min-height: calc(100vh - 120px);
}

.ExperienceContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
}

@media (max-width: 767px) {
    .ExperienceContainer {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

