.Card {
    padding: 10px;
    background-color: #eee;
    border-radius: 6px;
    position: relative;   
}

.Toggle {
    width: 85px;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    z-index: 2;  
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #eee;
    gap: 10px;
}

.Description {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 0;
    left: 10px;    
    top: 10px;
    line-height: 1.6;
    background-color: var(--primary-color);
    text-align: justify;
    box-sizing: border-box;
    transition: .5s;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    padding: 20px;
    border-radius: 6px;
    opacity: 0;
    z-index: -1;
}

.Img {
    width: 100%;
}

.Img img {
    max-width: 100%;
    border-radius: 6px;
}

.Info {
    line-height: 1.5;
}

@media (max-width: 767px) {
    .Info {
        text-align: center;
    }
}

.Info a {
    color: var(--primary-color);
    visibility: unset;
}